---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <p>You can also find my articles on <a href="{{ site.author.googlescholar }}">my Google Scholar profile</a>.</p>
{% endif %}

{% for category in site.publication_category %}
  {% assign items = site.publications | where: "category", category[0] | sort: "date" | reverse %}
  {% if items.size > 0 %}
    <h2>{{ category[1].title }}</h2>
    <ol class="pub-brief-list">
      {% for post in items %}
        <li id="{{ post.permalink | slugify }}">
          {% if post.paperurl != blank %}<a href="{{ post.paperurl }}">{{ post.citation }}</a>{% else %}{{ post.citation }}{% endif %}
        </li>
      {% endfor %}
    </ol>
  {% endif %}
{% endfor %}
